* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #fff5f5;
}

header {
    position: relative;
    background-image: url('Imagens/header.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 300px; 
}


header .logo {
    position: absolute;
    top: 30px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 200px; 
    height: auto;
    animation: logoAnim 3s ease-in-out infinite; 
}


header nav {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(76, 175, 80, 0.8); 
    position: absolute;
    bottom: 0;
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}


@keyframes logoAnim {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.1);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}


main {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 40px;
    background-color: #fff;
    height: 700px;
    background-image: url('Imagens/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}


main section {
    text-align: center; 
}


main h2 {
    margin: 0; 
    font-size: 50px; 
    color: #ffffff; 
}


.titulo-imagem {
    margin-top: 20px; 
    max-width: 15%; 
    height: auto; 
}

main2 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 40px;
    background-color: #fff;
    height: 700px;
    background-image: url('Imagens/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}


main2 section {
    text-align: center; 
}


main2 h2 {
    margin: 0; 
    font-size: 50px; 
    color: #ffffff; 
}

.titulo-imagem2 {
    margin-top: 50px; 
    max-width: 100%; 
    height: auto; 
}

main3 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 40px;
    background-color: #fff;
    height: 700px;
    background-image: url('Imagens/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}


main3 section {
    text-align: center; 
}


main3 h2 {
    margin: 0; 
    font-size: 50px; 
    color: #ffffff; 
}

.titulo-imagem3 {
    margin-top: 50px; 
    max-width: 100%; 
    height: auto; 
}

main4 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 40px;
    background-color: #fff;
    height: 700px;
    background-image: url('Imagens/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}


main4 section {
    text-align: center; 
}


main4 h2 {
    margin: 0; 
    font-size: 50px; 
    color: #ffffff; 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
